.swiper {
  @apply h-full w-full;
}

.swiper-slide img {
  @apply block w-full h-full object-cover;
}

.slider-main {
  @apply 2xl:relative 2xl:max-w-[60%] 2xl:m-auto;
}

.slider-thumb {
  @apply h-[20vh] max-h-[300px] box-border py-3;
  @apply 2xl:max-w-[1200px];
}

.slider-thumb .swiper-slide {
  @apply w-[25%] h-full opacity-40;
}

.slider-thumb .swiper-slide img {
  @apply object-cover !important;
  @apply xl:w-80;
}

.slider-thumb .swiper-slide-thumb-active {
  @apply opacity-100;
}

.swiper-button-next::after {
  @apply text-white hidden;
  @apply md:block;
}

.swiper-button-prev::after {
  @apply text-white hidden;
  @apply md:block;
}
