.modal-overlay {
  @apply h-full w-full fixed z-[1000] left-0 top-0 bg-white bg-opacity-90 overflow-x-hidden;
  @apply dark:bg-black-darkest;
}

.modal-content {
  @apply relative top-[10%] w-full text-center;
}

.modal-close {
  /* @apply absolute top-0 right-[30px] text-6xl text-gray; */
  @apply absolute -top-2 right-12 text-8xl text-white;
  @apply dark:text-white;
}
