.header {
  @apply fixed bg-white top-0 w-full bg-opacity-70 z-50;
  @apply dark:bg-black-darkest dark:bg-opacity-50;

  transition: background 0.3s ease;

  &-container {
    @apply flex justify-between items-center gap-8 py-4;
    @apply container;

    img {
      @apply h-12 w-auto;
    }
  }

  nav {
    @apply flex items-center absolute top-full left-full w-0 max-w-full h-[calc(100vh-5rem)];
    @apply py-8 bg-white bg-opacity-50 overflow-hidden;
    @apply md:block md:static md:py-0 md:w-auto md:h-auto md:bg-transparent;
    @apply dark:bg-black-darkest dark:md:bg-transparent;

    transition: left 0.3s ease, width 0.3s ease, background 0.3s ease;
  }

  ul {
    @apply container flex flex-col gap-5 text-3xl text-center items-center;
    @apply md:flex-row md:gap-5 md:max-w-full md:p-0 md:text-base md:text-left md:items-end;

    a,
    button {
      @apply text-black transition-colors;
      @apply hover:opacity-80;
      @apply dark:text-white;
    }

    .theme-switcher {
      @apply relative cursor-pointer touch-pan-x select-none;

      &-container {
        @apply bg-black-light h-8 w-16 rounded-[30px];
        @apply md:h-6 md:w-12;

        transition: 0.2s;
      }

      .moon-icon-container,
      .sun-icon-container {
        @apply absolute bottom-0 top-0 h-3 w-4 my-auto mx-0;
      }

      .moon-icon-container {
        @apply left-2 opacity-0;
        @apply dark:opacity-100;
      }

      .sun-icon-container {
        @apply right-1 opacity-100;
        @apply dark:opacity-0;
      }

      .sun-icon,
      .moon-icon {
        @apply flex items-center h-3 w-3 justify-center;
      }

      .theme-switcher-bullet {
        @apply bg-white h-8 w-8 -left-px top-0 absolute border border-solid border-gray rounded-[50%];
        @apply md:h-6 md:w-6;
        @apply dark:left-8 dark:md:left-6;

        transition: 0.25s;
      }

      input {
        @apply border-0 h-px w-px -m-px overflow-hidden absolute bg-clip-border;
      }
    }
  }

  &.expanded {
    @apply bg-opacity-100;

    nav {
      @apply left-0 w-screen bg-opacity-100;

      ul {
        @apply container;
      }
    }
  }
}

.menu-button {
  @apply relative w-12 h-7 scale-[0.8];
  @apply xs:scale-100;
  @apply md:hidden;

  span {
    @apply block w-full h-1 bg-black rounded-sm;
    @apply dark:bg-white;

    transition: all 0.3s ease;
  }

  span:nth-child(1) {
    @apply absolute top-0;
  }

  span:nth-child(2) {
    @apply absolute top-[calc(50%-0.125rem)];
  }

  span:nth-child(3) {
    @apply absolute top-[calc(100%-0.25rem)];
  }

  .expanded & {
    span:nth-child(2) {
      @apply opacity-0;
    }

    span:nth-child(1),
    span:nth-child(3) {
      @apply top-[0.8rem];
    }

    span:nth-child(1) {
      @apply rotate-45;
    }

    span:last-child {
      @apply -rotate-45;
    }
  }
}
